- type: job
  id: AcorpMedical
  name: job-name-acorp-medical
  description: job-description-acorp-medical
  playTimeTracker: JobAcorpMedical
  requirements:
    - !type:OverallPlaytimeRequirement
      time: 1000
  startingGear: AcorpMedicalGear
  icon: "JobIconAcorpMedical" 
  supervisors: job-supervisors-acorp-director
  weight: 2 # Prioritize station & department jobs
  displayWeight: 20 # Second from the top
  access:
  - Acorp
  accessGroups: # Frontier
  - GeneralAccess
  special:
  - !type:GiveItemOnHolidaySpecial
    holiday: FrontierBirthday
    prototype: FrontierBirthdayGift

- type: startingGear
  id: AcorpMedicalGear
  storage:
    back:
    - PinpointerAcorp