- type: job
  id: AcorpSecurity
  name: job-name-acorp-security
  description: job-description-acorp-security
  playTimeTracker: JobAcorpSecurity
  requirements:
    - !type:OverallPlaytimeRequirement
      time: 21600 # 6 hours Radiant_Sector
    - !type:DepartmentTimeRequirement
      department: Acorp
      time: 10800 # 3 hours Radiant_Sector
  startingGear: AcorpSecurityGear
  icon: "JobIconAcorpSecurity" 
  supervisors: job-supervisors-acorp-commandant
  weight: 2 # Prioritize station & department jobs
  displayWeight: 35 # Second from the top
  access:
  - Acorp
  - AcorpSecurity
  accessGroups: # Frontier
  - GeneralAccess
  special:
  - !type:GiveItemOnHolidaySpecial
    holiday: FrontierBirthday
    prototype: FrontierBirthdayGift

- type: startingGear
  id: AcorpSecurityGear
  equipment:
    belt: EnergyTazer
  storage:
    back:
    - PinpointerAcorp