- type: job
  id: AcorpDirector
  name: job-name-acorp-director
  description: job-description-acorp-director
  playTimeTracker: JobAcorpDirector
  requirements:
    - !type:OverallPlaytimeRequirement
      time: 72000 # 20 hours Radiant_Sector
    - !type:DepartmentTimeRequirement
      department: Acorp
      time: 36000 # 10 hours Radiant_Sector
    - !type:RoleTimeRequirement
      role: JobAcorpScience
      time: 21600 # 6 hours Radiant_Sector
    - !type:RoleTimeRequirement
      role: JobAcorpSecurity
      time: 10800 # 3 hours Radiant_Sector
  startingGear: AcorpDirectorGear
  icon: "JobIconAcorpDirector" 
  supervisors: job-supervisors-acorp-commandant
  weight: 2 # Prioritize station & department jobs
  displayWeight: 35 # Second from the top
  access:
  - Acorp
  - AcorpCommand
  accessGroups: # Frontier
  - GeneralAccess
  special:
  - !type:GiveItemOnHolidaySpecial
    holiday: FrontierBirthday
    prototype: FrontierBirthdayGift

- type: startingGear
  id: AcorpDirectorGear
  equipment:
    belt: BoxFolderClipboard
  storage:
    back:
    - PinpointerAcorp
